.container-element {
  height: 20%;
  width: 100%;
  padding: 0.25rem;
  p {
    display: flow-root;
    padding: 0;
    margin: 0.6rem 0;
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(194, 189, 189);
  }

  .active {
    background-color: rgb(194, 189, 189);
  }
}
